[Desktop Entry]
Encoding=UTF-8
Name=Collegamento a Portale Progetto Tessera Sanitaria - Accesso utente
Type=Link
URL=http://sistemats1.sanita.finanze.it/wps/portal/portalets/servizionline/accesso_utente
Icon=text-html
Name[it_IT]=Portale Progetto Tessera Sanitaria - Accesso utente
